.div-filters{
    display: flex;
}
.input-box-flt{
    width: fit-content !important;
}
.input-box-flt select{
    margin-right: 10px;
    border: 2px solid #83cb61;
    padding: 5px 20px;
    margin-bottom: 20px;
}

.input-box-flt p{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #818181;
}

.search-bar{
    padding:10px 20px;
}

.write-smt{
    font-size: 14px;
    font-weight: 700;
    margin: 20px 20px;
    color: #818181;
}

input:hover{
    background-color: #f3f3f3;
}

select:hover{
    background-color: #f3f3f3;
}