
.footer {
    background-color: #2a2a2a;
    height: 300px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    position: absolute;
    bottom: -150px;
    width: 100vw;

}

.footer img{
    height: 120px;
    margin: 15px;
}

.footer-logo-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 390px;


}

.footer p{
    color: white;
    margin-bottom: 0;
    margin-left: 10px;
    font-size: 14px;
}
.footer-social{
    color: var(--full-white-1);
    border-left: 1px solid rgba(255, 255, 255, 0.477);
    margin-left: 50px;
    padding-left: 50px;
}

.footer-social div{
    display: flex;
    flex-direction: row;
    
}

.footer-social p{
    font-size: 14px;
    color: var(--medium-gray-1);
    margin: 3px 20px 0 20px;
}
.footer-social i {
    font-size: 30px;
    color: white;
    margin: 0 5px;
}

.footer-social h3 {
    text-align: center;
    margin-bottom: 30px;
}
