
.register-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    
}

.register-page input:hover{
    background-color: var(--light-gray-2);
}

.register-container{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--full-white-1);
    position: relative;
}

.register-container input{
    background-color: var(--smoked-white-light);
    height: 35px;
    width: 40%;
    border: none;
    padding: 0 10px 0 50px;
    font-size: 14px;
    
}

.register-container input:focus {
    border-color: var(--primary-darker);
    background-color: var(--full-white-1);
    outline-color: var(--primary-color);
}

.input-group:focus-within .inp-icon, .input-group:focus-within label  {
    color: var(--primary-color); 
}



.register-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 40px;
    padding-bottom: 150px;
    overflow: hidden;
}

.register-btn{
    width: 15%;
    background-color: var(--primary-color);
    color: var(--full-white-1);
    border: none;
    border-radius: 15px;
    height: 30px;
    font-weight: 700;
    position: absolute;
    right: 100px;
    bottom: 120px;
    font-size: 14px;
}
.register-btn-cancel{
    width: 15%;
    background-color: var(--primary-darker);
    color: var(--full-white-1);
    border: none;
    border-radius: 15px;
    height: 30px;
    font-weight: 700;
    position: absolute;
    left: 100px;
    bottom: 120px;
    font-size: 14px;
}

.login-image-container1{
    width: 50vw;
    height: 100%;
    object-fit: cover;
    background-image: url(../../assets/dose-juice-sTPy-oeA3h0-unsplash.png);
    background-size: cover;
    background-position: center;
}
.login-image-container2{
    width: 50vw;
    height: 100%;
    object-fit: cover;
    background-image: url(../../assets/dose-juregisterbg2.png);
    background-size: cover;
    background-position: center;
}
.login-image-container3{
    width: 50vw;
    height: 100%;
    object-fit: cover;
    background-image: url(../../assets/registerbg3.png);
    background-size: cover;
    background-position: center;
}

.register-h1{
    margin-bottom: 30px;
    font-size: 62px;
    color: var(--primary-color);
}

.register-p{
    width: 50%;
    font-size: 14px;
    color: var(--medium-gray-1);
    margin-bottom: 0px;
}

.input-group{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

}
.input-group div{
    
    position: relative;
}

.inp-icon{
    position: absolute;
    left: 40%;
    color: var(--medium-gray-1);
}

.input-group label{
    width: 15%;
    font-weight: 700;
    color: var(--medium-gray-1);
    margin-right: 10px;
    font-size: 14px;
}

.input-icon{
    position: relative;
    background-color: var(--primary-color);
}

#avatarinp{
    text-align: center;
    margin-bottom: 40px;
}

.avatar-preview{
    min-width: 100px;
    min-height: 100px;
    background-size: cover;
    border: 2px solid var(--primary-darker);
    border-radius: 50%;
    margin-bottom: 25px;
    position: relative;
    overflow: hidden;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-preview i{
    position: absolute;
    font-size: 20px;
    top: 36px;
    right: 39.5px;
    color:var(--full-white-1);
    
}

.avatar-preview img{
    overflow: hidden;
    
}

.avatar-preview-overlay{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
    background-color: var(--black-transparent-05);
    transition: all ease 0.2s;
    position: absolute;
    z-index: 999;
}
.avatar-preview-overlay:hover{
   opacity: 1;
}

.avatarinput.openinp {
    display: block;
    
}

.avatarinput{
    display: none;
    height: 30px !important;
    margin-bottom: 10px !important;
}

.preview-btn{
    border: none;
    background-color: var(--primary-color);
    font-size: 12px;
    color: var(--full-white-1);
}

.genre-button{
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 0 10px 10px 0;
    transition: all ease 0.3s;
}

.genre-button:hover{
    background-color: var(--light-gray-1);
}

.genre-button i{
    font-size: 50px;
    margin: 0 20px;
    color: var(--medium-gray-1);
    margin: 0;
}

.selected-btn i{
    color: var(--primary-color) !important;
}

.genre-buttons{
    margin: -10px 0 10px 0;
}

.genrelabel{
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
    color: var(--medium-gray-1);
    margin-top: 15px;
}

.activitylabel{
    margin: 20px 0 30px 0;
    font-size: 14px;
    font-weight: 700;
    color: var(--medium-gray-1);
}

.activity-button{
    border: none;
    border-radius: 15px;
    padding: 0 20px;
    height: 30px;
    margin: 0 10px 10px 0;
    transition: all ease 0.3s;
    font-size: 12px;
}

.activity-button:hover{
    background-color: var(--medium-gray-3);
}

.selected-btn-ac{
    background-color: var(--primary-color);
    color: var(--full-white-1);
}

.goallabel{
    margin: 10px 0 20px 0;
    font-size: 16px;
    font-weight: 700;
    color: var(--medium-gray-1);
}

.goal-buttons div{
    width: 30%;
    margin: 0 20px;
}

.goal-buttons h2{
    text-align: center;
    color: var(--medium-gray-1);
    font-weight: 700;
    margin-top: 10px;
    font-size: 25px;
}

.goal-button{
    border: none;
    background: none;
    border-radius: 50%;
}

.goal-button:hover{
    background-color: var(--primary-color);
}

.goal-buttons{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.goal-button img{
    width: 100%;
}

.selected-btn-goal{
    background-color: #f1e9518f !important;
}

.selected-btn-goal-text{
    color: #f5bf2d !important;
}

input[type="range"] {
    width: 100%; 
    height: 2px; 
    background: #81818183; 
    outline: none;
    border: 1px solid #81818183; 
    margin: 0; 
    padding: 0; 
    position: relative; 
  }

  /* Estilos para el dial */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 5px; 
    height: 20px;
    background: var(--primary-color); 
    border: none; 
    cursor: pointer;
  }

  .range-input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-bottom: 15px;
  }

  .range-input i{
    color: var(--medium-gray-1);
    margin: 0 10px;
  }

.pag2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.pag3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  
}

.pag2 {
    animation: slideInTop 1.5s forwards;
  }  
.pag3 {
    animation: slideInRight 1.5s forwards;
  }
.login-image-container2{
    animation: slideInBot 1.5s forwards;
}
.login-image-container3{
    animation: slideInLeft 1.5s forwards;
}

  
  @keyframes slideInRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideInTop {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  @keyframes slideInBot {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }