# fly.toml app configuration file generated for fit-tracker on 2024-05-20T19:48:38+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'fit-tracker'
primary_region = 'mad'

[build]
[build.args]
 VITE_API_BASE_URL= 'https://fit-tracker.fly.dev/api/v1'

[env]
  CORS_ORIGIN = 'http://fit-tracker.fly.dev'



[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']
  

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
