.drop-btn-div{
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.drop-btn{
    border: none;
    background: none;
}

.link-drop{
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop-btn a {
    text-decoration: none;
}

.drop-link-text {
    
    white-space: nowrap;
    border-radius: 50px;
    width: 10px;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    text-align: center;
    margin-right: 0;
    align-self: center;
    color: #83cb61;
    border: #83cb61 solid 3px;
    text-decoration: none;
    background-color: white;
}

.link-drop:hover .drop-link-text {
    width: fit-content; 
    margin-left: 10px; 
    padding: 3px 10px 3px 10px;
    opacity: 1;
    font-weight: 700;
    font-size: 14px;
    border: #83cb61 solid 2px;

 
}

.link-drop:hover  i{
    color: #83cb61;

}

.link-drop, .selected-trash:hover  i{
    color:  rgb(255, 54, 54)!important;
}

.link-drop i{
    font-size: 18px;
    border-radius: 25px;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #818181;
}

.selected-workout{
    display: flex;
    align-items: center;
    border: #83cb61 2px solid;
    border-radius: 25px;
    padding: 3px 10px 3px 10px;
    background-color: white;
    margin-right: 10px;
    white-space: nowrap;
    font-size: 14px;
    
}
.selected-trash{
    display: flex;
    align-items: center;
    border-radius: 25px;

    color:  rgb(255, 54, 54);
}

.selected-trash i:hover{
    color:  rgb(255, 54, 54)!important;
}

.link-drop:hover .trash-link-text {
    width: fit-content; 
    margin-left: 10px; 
    padding: 3px 10px 3px 10px;
    opacity: 1;
    font-weight: 700;
    border: rgb(255, 54, 54) solid 2px;
 
}

.trash-link-text {
    
    white-space: nowrap;
    border-radius: 50px;
    width: 10px;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    text-align: center;
    margin-right: 0;
    align-self: center;
    text-decoration: none;
    background-color: white;
}

.selected-workout:hover{
    display: flex;
    align-items: center;
    border:  rgb(255, 54, 54) 2px solid;
    border-radius: 25px;
    padding: 3px 10px 4px 10px;
    background-color: white;
    margin-right: 10px;
    color:  rgb(255, 54, 54);
}

.selected-workout:hover i, .selected-workout:hover span{
    color:  rgb(255, 54, 54);
}

.selected-workout span{
    width: fit-content; 
    opacity: 1;
    font-weight: 700;
    color: #83cb61;

}

.selected-workout i{
    font-size: 20px;
    color: #83cb61;
    margin-right: 10px;
}