.navbar-logo{
        color: #83cb61;
        z-index: 1000;
         width: 50px;
         height: 50px;
        margin-right: 20px ;
}

.navbar-brand{
    margin: 0 20px 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}