

.food-inputs{
    display: flex;
    justify-content: center;
    align-items: center;
}

.food-inputs input{
    height: 40px;
    padding: 0 10px;
    width: 100px;
    margin-right: 10px;
}

.food-inputs select{
    height: 40px;
    min-width: 100px;
    padding: 0 10px;
    margin-right: 10px;
}

.food-inputs button{
    height: 40px;
}

.food-inputs h3{
    margin: 0;
    margin-bottom: -5px;
    margin-right: 30px;
}

.filters-food-btns{
    width: 100%;
    display: flex;
}

.filters-food-btns button{
    background-color: var(--smoked-white-light);
    border: none;
    padding: 5px 20px;
    width: 100%;
    color: var(--medium-gray-2);
}

.search-div{
    border-top: 1px solid var(--light-gray-1);
}

.btn-selected{
    background-color:var(--primary-color)!important;
    color: white !important;
    font-weight: 600;
}

.showmeals{
    margin-top: 40px;
}

.add-meal-btn{
    padding: 5px 10px !important;
    width: fit-content!important;
    margin-right: 10px!important;
}