.edit-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    max-width: 90%;
    width: 1200px;
    border: 1px solid rgba(0, 0, 0, 0.208);
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.131);
    background-color: var(--full-white-1);
}

.plane-box-black{
    background-color:var(--black-transparent-08)!important;
    color: var(--full-white-1)!important;


}

.plane-box-black h2 {
    color: var(--full-white-1)!important;
}
.edit-container img{
    width: 280px;
    height: 280px;
    object-fit: cover;
    
}

.create-img{
    width: 280px;
    height: 280px;
    border: 1px solid var(--smoked-white-light);
}

.workout-main{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 100%;
}

.workout-p strong{
    font-weight: 700;
}

.input-box{
    margin-bottom: 20px;
    width: 100% !important;
}

.input-box h2 {
    color: var(--smoked-white-light);
}

.input-box-diff{
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100% !important;
    padding-right: 60px ;
}

.input-box input{
    padding: 10px 30px;
    width: 100% !important;
    border: 1px var(--medium-gray-3) solid;
}

.input-box textarea{
    height: 150px;
    padding: 10px 30px;
    width: 100%;
    border: 1px var(--medium-gray-3) solid;

}

.exercises-div{
    max-width: 90%;
    width: 1200px;
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: 1px solid var(--light-gray-1);
    margin-top: 20px;
    box-shadow: 5px 5px 3px 0px var(--black-transparent-02);
    background-color: var(--full-white-1);
    
}

.exercises-div h4{
    font-size: 30px;
    margin-bottom: 20px;
}

.exercises-container{
    margin-top: 20px;
    
}

.add-ex-btn{
    background-color: var(--primary-color);
    padding: 5px 20px;
    border: none;
    color: var(--full-white-1);
    font-weight: 700;
    margin-top: 20px;
    margin: 20px 10px 20px 10px;
}

.add-ex-btn i{
    margin-right: 10px;
    margin-bottom: 0;
}

.create-btn{
    background-color: var(--primary-color);
    padding: 5px 20px !important;
    height: fit-content;
    border: none;
    color: var(--full-white-1);
    font-weight: 700;
    justify-self: center;
}
.h4-and-btn{
    display: flex;
    justify-content: space-between;
}




.plane-box{
    margin: auto;
    max-width: 90%;
    width: 1200px;
    padding: 30px;
    border: none;
    margin-top: 20px;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.137);
    border: 1px solid var(--black-transparent-02);
    background-color: var(--smoked-white-light);
    backdrop-filter: blur(20px);
    position: relative;
}
textarea {
    width: 100%;
    height: 250px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: var(--dark-gray-1);
    font-size: 16px;
    color: var(--full-white-1);
    outline: 2px solid var(--medium-gray-3);
  }

  .edit-wo-btns{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .red{
    background-color: var(--primary-red);
  }