.fire-btns{
    background: none;
    border: none;
    outline: none;
    font-size: 26px;
    margin: 0 5px 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: fit-content;
}


.fire-btns i {
    margin: 0;
    color: var(--medium-gray-2);
}
.fire-btns-red i{
    color: var(--primary-red) !important;
}

.fires-div{
    display: flex;
    flex-direction: row;
}


.white-text{
    color: white!important;
}