.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.765);
    backdrop-filter: blur(40px);
    z-index: 1100;
    box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.062);

    
}

.navbar-links-container{
    display: flex;
}
.navbar-logo{
        color: #83cb61;
        z-index: 1000;
         width: 35px;
         height: 35px;
        margin-right: 20px ;
}

.navbar-links{
    list-style: none;
    display: flex;
    margin-bottom: 0;
    margin-right: 20px;
}

.navbar-links li{
    margin: 0 20px;
}


.navbar-links i {
    font-size: 22px;
    transition: color ease 0.3s;
}


.link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.active i{
    color:#83cb61;
}

.navbar-links {
    display: flex;
    list-style-type: none;
    margin-right: 120px;
}

.navbar-links li {
    margin-right: 10px; 
}

.navbar-link-text {
    background-color: #dbdbdbc0;
    color: #303030;
    padding: 3px 0px 4px 0px;
    border-radius: 50px;
    width: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .9s ease-out ;
    
}

.navbar-links li:hover .navbar-link-text {
    width: 100px; 
    margin-left: 10px; 
    padding: 3px 20px 4px 20px;
    opacity: 1;
}

.navbar-links li:hover div i{
    color: #83cb61;
}


.navbar-profile-links{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-right: 50px;
}

.navbar-profile-links li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.navbar a{
    text-decoration: none;
    color:#818181;
}

.navbar a:hover{
    color: #83cb61;
}
.navbar-profile-image{
    width: 30px;
    height: 30px;
    border: 2px solid #83cb61a1;
    border-radius: 50%;
    background-color: #83cb61;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-right: 15px;
}

.navbar-profile-links a {
    font-size: 18px;
    font-weight: 700;
}

.navbar-profile-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.navbar-brand{
    margin: 0 20px 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}