.workout-item{
    
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    margin: auto;
    max-width: 90%;
    width: 1200px;
    height: 350px;
    border: 1px solid rgba(0, 0, 0, 0.208);
    margin-top: 20px;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.131);
    background-color: rgba(255, 255, 255, 0.797);
    backdrop-filter: blur(20px);
    position: relative;
    
}

.workout-item .fa-user{
    color: #83cb61;
    margin-right: 10px;
    margin-bottom: 10px;
}


.workout-image img{
    height: 350px !important;
    width: 350px !important;
    object-fit: cover;
}

.workout-text h1 {
    font-size: 32px;
}

.workout-text  p{
    font-size: 13px;
}

.workout-text{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    height: fit-content;
    width: 100%;
}

.seemore{
    color: #83cb61;
}

.workout-p{
    font-size: 13px;
}

.workout-text2{
    display: flex;
}

.workout-text-div{
    width: 50%;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    
}

.workout-text2 .separator{
    content: '';
    border-right: 2px solid rgba(56, 56, 56, 0.211);
}

.wo-detail{
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

.wo-detail-social{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
}

.wo-detail-social p{
    margin: 0;
    margin-left: 10px;
}

.wo-detail p{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    white-space: nowrap;
}

.wo-detail strong{
    font-size: 13px;
    min-width: 100px;

}

.wo-detail i{
    font-size: 20px;
}

.fa-circle-check{
    color: #83cb61;
}

.fa-message{
    color: rgb(35, 145, 255);
}

.fa-heart{
    color: rgb(255, 54, 54);
}

.wo-social-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center ;

}

.fires-det{
   width: 100%;
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
}

.fires-det strong{
    margin-bottom: 10px;
    margin-left: 0;
    text-align: center;
}

.hide-btns-page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 30px;
    margin-left: 20px;
}

.clickable-div{
    cursor: pointer;
    background-color: white;
    transition: background-color 0.3s ease;

}

.clickable-div:hover{
    background-color: rgb(237, 237, 237);
}