.exercise-capsule{
    border: 3px solid var(--primary-color);
    border-radius: 5px;
    padding: 15px 15px;
    display: flex;
    
    background-color: var(--white-transparent-03);
    flex-direction: column;
    margin-bottom: 10px;
    transition: background-color ease 0.4s;
}

.exercise-capsule:hover {
    background-color: var(--white-transparent-1);
}

.capsule-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttons-capsule {
    display: flex;
}
.exercise-capsule input {
    width: 80px;
    margin-right: 10px;
}

.exercise-capsule h1{
    font-size: 20px;
    margin-bottom: 0;
    margin-right: 10px;
    margin-left: 10px;
}

.exercise-capsule i{
    font-size: 20px;
}


.ex-title{
    display: flex;
    align-items: center;
}

.work-div input{
    padding-left: 10px;
    width: 55px;
}

.exercise-capsule button{
    background: none;
    border: none;
    color: var(--medium-gray-1);
    margin-right: 10px;
}

.exercise-capsule button:hover{
    color: var(--primary-color);
}

.button-trash:hover{
    color: var(--primary-red)!important;;
}

.work-div{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.work-div p{
    margin-bottom: 0;
    font-weight: 700;
    margin-right: 10px;
}

.info-ex{
    display: flex;
    align-items: center;
}

.info-ex p{
    margin-bottom: 0;
    
}

.info-ex strong{
    margin-right: 10px;
}

.info-ex p::after {
    content: '';
    margin-left: 20px;
    border-right: 1px solid var(--light-gray-1);
    margin-right: 20px;
}

.sets-div{
    display: flex;
    margin-right: 15px;
}

.work-div label{
    margin-right: 10px;
}