h1, h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.speech {
    position: relative;
    background: rgba(255, 54, 54, 0.692);
    box-shadow: 20px 20px 5px -6px rgba(0,0,0,0.24);
    color: white;
    padding: 15px 50px;
    position: absolute;
    z-index: 998;
    top: 20px;
    transform: translateX(-50%);
    left: 50%;
}
.speech-up:before {
    border: 20px solid rgba(255, 54, 54, 0.692);
    content: '';
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    bottom: -40px;
    left: calc(50% - 25px);
    z-index: 999;
    
}

.speech i {
    margin-right: 20px;
}

.speech-left:before {
    border: 25px solid transparent;
    content: '';
    border-right-color: rgba(255, 54, 54, 0.692);
    position: absolute;
    bottom: calc(50% - 25px); 
    left: -50px;
    z-index: 999;
}

.speech-down:before {
    content: '';
    position: absolute;
    top: -40px;
    left: calc(50% - 25px);
    border: 20px solid rgba(255, 54, 54, 0.692);
    content: '';
    border-left-color: transparent;
    border-bottom-color: rgba(255, 54, 54, 0.692);
    border-right-color: transparent;
    border-top-color: transparent;
    z-index: 999;
}

.speech-right:before {
    content: '';
    position: absolute;
    bottom: calc(50% - 25px);
    right: -50px;
    border: 25px solid transparent;
    border-left-color:  rgba(255, 54, 54, 0.692);
    border-bottom-color:transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    border-left-color: rgba(255, 54, 54, 0.692);
    z-index: 999;
    
}


.btn-green{
    background-color: #83cb61;
    color: white;
    font-weight: 400;
    width: fit-content;
    border-radius: 0;
    padding: 5px 40px;
    border: none;
    margin: 10px;
}

.btn-green:hover{
    background-color: #5d9145;  
}

.button{
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    transition: all ease 0.3s;
}

.red{
    background-color: rgb(255, 54, 54);
}

.button:hover{
    background-color: rgba(0, 0, 0, 0.468);
}

.page-title{
    text-align: center;
    font-size: 46px;
    color: rgb(89, 89, 89);
    position: relative;
    z-index: 19 !important;
    

}

.h1-div{
    background-color: rgba(255, 255, 255, 0.826);
    padding: 40px;
}
.page-title::before{
    content: '';
    border-left: 5px solid #83cb61;
    margin-right: 20px;
}
.page-title:after{
    content: '';
    border-left: 5px solid #83cb61;
    margin-left: 20px;
}

.jumbo img{
    width: 100%;
    height: 360px;
    background-color: #83cb61b6;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1 !important;
    object-fit: cover;
}

.jumbo{
    position: relative;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    
}

.jumbo-list img{
    height: 360px !important;
    position: absolute;
    top: -6px;
    left: 0;
}

.back-btn{
    background: white;
    text-decoration: none;
    color: black;
    position: fixed;
    top: 100px;
    left: 50px;
    padding: 5px 20px;
    border-radius: 25px;
    font-weight: 700;
    border: 3px solid black;
    z-index: 1200;
}

.back-btn i {
    margin-right: 10px;
}

.back-btn:hover{
    background: #83cb61;
    color: white;
    z-index: 1200;
}