h1, h2 {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
}

html{
    font-family: "Merriweather", serif;
}

p {
    font-family: "Merriweather", serif;
}

.speech {
    position: relative;
    background: rgba(255, 54, 54, 0.692);
    box-shadow: 20px 20px 5px -6px rgba(0,0,0,0.24);
    color: white;
    padding: 15px 50px;
    position: absolute;
    z-index: 998;
    top: 20px;
    transform: translateX(-50%);
    left: 50%;
}
.speech-up:before {
    border: 20px solid rgba(255, 54, 54, 0.692);
    content: '';
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    bottom: -40px;
    left: calc(50% - 25px);
    z-index: 999;
    
}

.speech i {
    margin-right: 20px;
}

.speech-left:before {
    border: 25px solid transparent;
    content: '';
    border-right-color: rgba(255, 54, 54, 0.692);
    position: absolute;
    bottom: calc(50% - 25px); 
    left: -50px;
    z-index: 999;
}

.speech-down:before {
    content: '';
    position: absolute;
    top: -40px;
    left: calc(50% - 25px);
    border: 20px solid rgba(255, 54, 54, 0.692);
    content: '';
    border-left-color: transparent;
    border-bottom-color: rgba(255, 54, 54, 0.692);
    border-right-color: transparent;
    border-top-color: transparent;
    z-index: 999;
}

.speech-right:before {
    content: '';
    position: absolute;
    bottom: calc(50% - 25px);
    right: -50px;
    border: 25px solid transparent;
    border-left-color:  rgba(255, 54, 54, 0.692);
    border-bottom-color:transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    border-left-color: rgba(255, 54, 54, 0.692);
    z-index: 999;
    
}


.btn-green{
    background-color: #83cb61;
    color: white;
    font-weight: 400;
    width: fit-content;
    border-radius: 0;
    padding: 5px 40px;
    border: none;
    margin: 10px;
}

.btn-green:hover{
    background-color: #5d9145;
   
}