.workout-detail-container{

    border-radius: 15px;
    padding: 20px 70px 40px 20px;
    margin: 20px;
    width: fit-content;

}

.workout-detail-box{
    display: flex;
    flex-direction: row;
}

.workout-image{
    width: 350px;
    height: 350px;
    margin-right: 30px;
}

.workout-image img{
    width: 350px;
    height: 350px;
}

.workout-detail-container h1{
    margin-left: 0;
    font-size: 22px;
    margin-bottom: 20px;
}

.workout-detail-box p{
    max-width: 700px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px !important;
}

.workout-detail-box span{
    font-weight: 400;
}

.instruction{
    background-color: #e5fbdb;
    margin-bottom: 10px;
    padding: 10px 10px;
}
